<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx36O9U-5X8uhWO0julQJ-IySj045My9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1060503875755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodolist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-f217b</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-f217b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060503875755:ios:21eeb38d55ce7e876c47ee</string>
</dict>
</plist>